In [1]:
## importing library
import pandas as pd
import numpy as np

In [2]:
## Q1. Pandas version

pd.__version__

'2.2.2'

- getting the data
# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [3]:
## Reading the data
laptop_df = pd.read_csv('../../data/01-week/laptops.csv')

In [4]:
laptop_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
## Q2. Records count - How many records are in the dataset?
laptop_df.shape

(2160, 12)

In [6]:
## Q3. Laptop brands - How many laptop brands are presented in the dataset?
laptop_df["Brand"].nunique()

27

In [7]:
##Q4. Missing values - How many columns in the dataset have missing values?
laptop_df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
# Q5. Maximum final price - What's the maximum final price of Dell notebooks in the dataset?

laptop_df[laptop_df['Brand']=='Dell']['Final Price'].describe()

count      84.000000
mean     1153.839881
std       671.795071
min       379.000000
25%       699.000000
50%      1003.000000
75%      1313.810000
max      3936.000000
Name: Final Price, dtype: float64

In [9]:
# Q6. Median value of Screen
# Find the median value of Screen column in the dataset.
# Next, calculate the most frequent value of the same Screen column.
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
# Now, calculate the median value of Screen once again.
median_screen_value = laptop_df['Screen'].median()
mode_screen_value = laptop_df['Screen'].mode()

laptop_df['Screen'].fillna(mode_screen_value).median()

15.6

In [10]:
# Q7. Sum of weights

# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

selected_laptop_df = laptop_df[laptop_df['Brand']=='Innjoo'][['RAM','Storage','Screen']]

X = selected_laptop_df.values

In [11]:
XTX =  X.T.dot(X) ## Dot product

In [12]:
XTX_inv = np.linalg.inv(XTX) ## getting the inverse
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [13]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [14]:
w = (XTX_inv @ X.T) @ y

In [15]:
w.sum()

91.2998806299555